<!DOCTYPE html>
<html>
    <head>
        <title>GoodHealthConsult</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body id="homeviewbody">
        <header><h1>Good Health Consult</h1></header>
        <div id="home">
            <h3>Payment Form</h3>
            <form id="Login" method="POST" action="/patient">
                <p>Firstname <input type="text" name="firstname" placeholder="firstname" required/></p>
                <p>lastname <input type="text"  name="lastname" placeholder="lastname"/>
                <p>Amount <input type="date" name="amount" placeholder="dob"/></p>
                <p>Phone <input type="text" name="phone" placeholder="contact"/></p>
                <p style="padding-left: 50px;"><button type="submit" id="submitbutton">sumbit</button></p>
            </form>
           
        </div>
    </body>
</html>